<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tournament.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @tournament.city %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tournament.category %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @tournament.tour %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
