<%= render 'shared/description', lead: @player.full_name, description: nil %>

<p>
  <strong>Born: </strong><%= @player.full_date_of_birth %> (age <%= @player.age %>)
</p>
<p>
  <strong>Nationality: </strong><%= @player.country %>
</p>

<hr class="my-4">
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
