<!DOCTYPE html>
<html>
  <head>
    <title>Tennis Matches</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/web_main_menu' %>
    <div class="container mt-5">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <div class="jumbotron">
        <h1 class="display-4">Tennis matches</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
